# Do these samples belong to the same patient? 0.0v
A script to determine if two samples (for this version Myeloid_1.2 but ideally to any type of NGS sample)  belong to the same patient.

Input: 2 Variant Call Format files

Output: The common variants found in both VCF files

Steps
1. Clean VCF files removing the header
2.

In [1]:
import pandas as pd
import os
import subprocess
import numpy as np

In [7]:
# 1. Remove the header, filter and select data needed
## Remove the header
## File A
os.system("sed '/^##/ d'  W2008872_S8-J4PJL.vcf >  FileA.txt")

## File B 
os.system("sed '/^##/ d'  W2103014_S10-JGFJG.vcf >  FileB.txt")

0

In [8]:
## Convert the files in a pndas data frame
dataA = pd.read_csv("/Users/monkiky/Desktop/Do-these-samples-belong-to-the-same-patient/FileA.txt", delimiter = "\t" )
dataB = pd.read_csv("/Users/monkiky/Desktop/Do-these-samples-belong-to-the-same-patient/FileB.txt", delimiter = "\t" )
dataA

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,W2008872
0,chr1,36932417,.,C,T,48.0,SB,"DP=1618;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:48:1582,36:0.0222:20:-0.0009:48"
1,chr1,36933198,.,G,T,100.0,PASS,"DP=513;TI=NM_172313,NM_156039,NM_000760;GI=CSF...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:410,103:0.2008:20:-100.0000:100"
2,chr1,36933569,.,A,G,100.0,SB,"DP=1154;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:1093,59:0.0511:20:-0.0236:100"
3,chr1,36933574,.,T,G,100.0,SB,"DP=1236;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:1114,116:0.0939:20:-0.0001:100"
4,chr1,36933576,.,T,G,23.0,SB,"DP=1171;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:23:1143,22:0.0188:20:0.0000:23"
...,...,...,...,...,...,...,...,...,...,...
451,chrX,133547693,.,TA,T,100.0,PASS,"DP=4174;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:3998,176:0.0422:20:-100.0000:100"
452,chrX,133547693,.,T,TA,100.0,PASS,"DP=4109;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:3985,124:0.0302:20:-100.0000:100"
453,chrX,133547816,.,AT,A,100.0,PASS,"DP=2189;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:2113,76:0.0347:20:-88.5110:100"
454,chrX,133547816,.,A,AT,24.0,PASS,"DP=2136;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:24:2101,35:0.0164:20:-12.4949:24"
455,chrX,133551320,.,G,A,39.0,SB,"DP=1336;TI=NM_001015877,NM_032458;GI=PHF6,PHF6...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:39:1307,29:0.0217:20:-0.0038:39"

In [ ]:
## Filter the variants  FILTER = PASS and Variant Frecuency =>0.4

# VF is in the 9th column, we need to extract and put VF data in an independent column first
df2 = dataA.iloc[:,9].str.split(':', expand=True)
df2.columns = dataA.FORMAT.iloc[0].split(':')
dataA = pd.concat([dataA, df2], axis=1)


# Same for dataB
df2 = dataB.iloc[:,9].str.split(':', expand=True)
df2.columns = dataB.FORMAT.iloc[0].split(':')
dataB = pd.concat([dataB, df2], axis=1)

# Results

dataA.head(1)

In [ ]:
# object to float
dataA["VF"] = dataA.VF.astype(float)
dataB["VF"] = dataB.VF.astype(float)

In [ ]:
# ok, now we can filter and take the variant we are interested 

dataA = dataA.query('FILTER == "PASS" and VF > 0.4')
dataB = dataB.query('FILTER == "PASS" and VF > 0.4')

In [ ]:
dataB.head(1)

In [ ]:
# Let's create Ben's variant identification

#CHROM+POS+RED+ALT
dataA['CHROMPOSREDALT']=dataA["#CHROM"]+dataA["POS"].apply(str)+dataA["REF"]+dataA["ALT"]
dataB['CHROMPOSREDALT']=dataB["#CHROM"]+dataB["POS"].apply(str)+dataB["REF"]+dataB["ALT"]

# Results
dataA

In [ ]:
dataB

In [ ]:
df3 = dataA[['CHROMPOSREDALT', 'GT']].copy()
df4 = dataB[['CHROMPOSREDALT', 'GT']].copy()
frames = [df3,df4]
df5 = pd.concat(frames)
df5

In [ ]:
df5=(df5.assign(key=df5.groupby('CHROMPOSREDALT').cumcount())
      .pivot('CHROMPOSREDALT','key','GT')
      .rename(columns=lambda x:f"Sample{x+1}")
      .rename_axis(columns=None).reset_index())

In [ ]:
df5["equal?"] = np.where(df5["Sample1"] == df5["Sample2"], True, False)
df5

In [ ]:
# Generate a report

In [ ]:
old[['A', 'C', 'D']].copy()

In [13]:
os. getcwd()+"ef"

'/Users/monkiky/Desktop/Do-these-samples-belong-to-the-same-patientef'

In [14]:
os.path.basename('folder1/folder2/folder3/new_folder/image.jpg')

'image.jpg'

In [ ]:
# 1.1 Convert to pandas df
data = [x for x in lines if not x.startswith('##')]
data.replace()

In [ ]:
with open("/Users/monkiky/Desktop/Do-these-samples belong-to-the-same-patient?/W2008872_data.txt", "w") as output:
    output.write(str(data))

In [ ]:
data2 = '\n'.join([l[1:-1].strip() for l in data.split(', ')])

In [ ]:
same_sample1 = "/Users/monkiky/Desktop/Do-these-samples-belong-to-the-same-patient/W2008872_S8-J4PJL.vcf"
#= input ("Enter the path/filename of the first sample: ")
same_sample2 = "/Users/monkiky/Desktop/Do-these-samples-belong-to-the-same-patient/W2103014_S10-JGFJG.vcfâˆ«"
#input ("Enter the path/filename of the second sample: ")


# 1. Remove the header of input files

## File A
cmd = "sed '/^##/ d'  {0} >  FileA.txt".format(same_sample1)
os.system(cmd)

## File B 
cmd = "sed '/^##/ d'  {0} >  FileB.txt".format(same_sample2)
os.system(cmd)

# Files to pandas object
dataA = pd.read_csv("./FileA.txt", delimiter = "\t" )
dataB = pd.read_csv("./FileB.txt", delimiter = "\t" )
print(dataA)

In [11]:
dataA = pd.read_csv("./FileA.txt", delimiter = "\t" )
dataA

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,W2008872
0,chr1,36932417,.,C,T,48.0,SB,"DP=1618;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:48:1582,36:0.0222:20:-0.0009:48"
1,chr1,36933198,.,G,T,100.0,PASS,"DP=513;TI=NM_172313,NM_156039,NM_000760;GI=CSF...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:410,103:0.2008:20:-100.0000:100"
2,chr1,36933569,.,A,G,100.0,SB,"DP=1154;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:1093,59:0.0511:20:-0.0236:100"
3,chr1,36933574,.,T,G,100.0,SB,"DP=1236;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:1114,116:0.0939:20:-0.0001:100"
4,chr1,36933576,.,T,G,23.0,SB,"DP=1171;TI=NM_172313,NM_156039,NM_000760;GI=CS...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:23:1143,22:0.0188:20:0.0000:23"
...,...,...,...,...,...,...,...,...,...,...
451,chrX,133547693,.,TA,T,100.0,PASS,"DP=4174;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:3998,176:0.0422:20:-100.0000:100"
452,chrX,133547693,.,T,TA,100.0,PASS,"DP=4109;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:3985,124:0.0302:20:-100.0000:100"
453,chrX,133547816,.,AT,A,100.0,PASS,"DP=2189;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:100:2113,76:0.0347:20:-88.5110:100"
454,chrX,133547816,.,A,AT,24.0,PASS,"DP=2136;TI=NM_032335,NM_001015877,NM_032458;GI...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:24:2101,35:0.0164:20:-12.4949:24"
455,chrX,133551320,.,G,A,39.0,SB,"DP=1336;TI=NM_001015877,NM_032458;GI=PHF6,PHF6...",GT:GQ:AD:VF:NL:SB:GQX,"0/1:39:1307,29:0.0217:20:-0.0038:39"

In [ ]:
with open('/Users/monkiky/Desktop/Do-these-samples belong-to-the-same-patient?/W2008872_data.txt') as fp:
    data = '\n'.join([l[1:-1].strip() for l in text.split(', ')])
    df = pd.read_csv(io.StringIO(data), sep='\t')

In [ ]:
pd.read_csv("/Users/monkiky/Desktop/Do-these-samples belong-to-the-same-patient?/W2008872_data.txt", delimiter = "\t" )

In [ ]:
https://www.youtube.com/watch?v=15NPZCGP_e4